html, body{
    width: 100%;
    height: 100%;
    font-family: "Roboto Light", sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.bg-dark-app{
    background-color: #2D2D2D !important;
}

.bg-darker-app{
    background-color: #161616 !important;
}

.bg-darker-gradient-app {
    background: linear-gradient(90deg, #151515 0%, #292929 51.04%, #161616 100%) !important;
}

.bg-gray-light-app{
    background-color: #F5F5F5 !important;
}

.bg-green-app{
    background-color: #204034 !important;
}

.text-green-app{
    color: #204034 !important;
}

.vc-highlight{
    background-color: #204034 !important;
}

.vc-time-month, .vc-time-day{
    color: #204034 !important;
}


input{
    border: none !important;
    background-color: unset !important;
}

input:focus{
    border: none !important;
    outline-style: none !important;
    box-shadow: none !important;
    background-color: unset !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type="radio"] {
    visibility: hidden;
    width: 10px !important;
}

input[type="radio"]::before {
    border: 2px solid #346751 !important;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    display: block;
    content: " ";
    cursor: pointer;
    visibility: visible;
}

input[type="radio"]:checked::before { /* selected */
    background: radial-gradient(#346751 36%, transparent 38%);
}

.input-auth-app, .input-auth-app:focus  {
    border-bottom: 1px solid #858585 !important;
}

.input-auth-error-app, .input-auth-error-app:focus  {
    border-bottom: 1px solid red !important;
}

.input-auth-success-app, .input-auth-success-app:focus  {
    border-bottom: 1px solid green !important;
}

.vertical-line{
    border-left: 3px dashed #346751;
    display: inline-block;
    height: 50px;
}

.link-register-app {
    text-decoration: none;
    color: black;
    font-style: normal;
    font-size: 100%;
}

.accordion-button {
    background: none !important;
    border: none !important;
    color: black !important;
    outline-style: none !important;
    box-shadow: none !important;
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.border-green-app{
    border: solid 1px #346751 !important;
}

.cursor-pointer:hover{
    cursor: pointer !important;
}

.result:hover{
    background-color: #F5F5F5 !important;
}
